@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    #d0b8ff 0%,
    #b089ff 45%,
    #9a6cff 75%,
    #8757f5 100%
  );
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Conteúdo principal */
.login-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* Caixa de texto */
.login-container .caixa-de-texto {
  width: 90%;
  max-width: 650px;
  margin: 40px auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  text-align: center;
}

.login-container .caixa-de-texto:hover {
  transform: translateY(-3px);
}

.login-container .caixa-de-texto h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #5b2c83;
  font-size: 35px;
  font-weight: 800;
}

.login-container .caixa-de-texto h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5b2c83;
  font-size: 24px;
  font-weight: 600;
}

.login-container .caixa-de-texto p {
  line-height: 1.6;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #333333;
}

.login-container .caixa-de-texto .instagram-handle {
  margin-top: 15px;
  font-weight: 600;
  color: #7014ad;
}

/* Footer e Botão */
.login-footer {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.login-footer a {
  text-decoration: none;
}

.botao-voltar {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #4f4f4f;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 1;
}

.botao-voltar::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 140%;
  height: 180%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.botao-voltar::after {
  content: "";
  position: absolute;
  left: 55%;
  top: 180%;
  width: 160%;
  height: 190%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  background-color: #7014ad;
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.botao-voltar:hover {
  color: #ffffff;
  border-color: #7014ad;
}

.botao-voltar:hover::before {
  top: -35%;
  background-color: #7014ad;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.botao-voltar:hover::after {
  top: -45%;
  background-color: #7014ad;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}